{%  extends 'base.html' %}
{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in artist_form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
        <button type="submit" value="제출">수정</button>
</form>


{% endblock %}