{% extends 'base.html' %}

{% block content %}
<div>
    <button type="submit"><a href="{% url 'artist:artist-add' %}">아티스트 추가하기</a></button>
</div>
<div class="artist-list-container">
    <ul class="clearfix">
        {% for artist in artists %}
        <li class="clearfix">
            <a href="{% url 'artist:artist-detail' artist.pk %}">
                <input type="hidden" value="{{ artist.melon_id  }}">
                <img src="{% if artist.img_profile %}{{ artist.img_profile.url }}{% endif %}" alt="" class="cover">
                <div class="artist-info">
                    <div class="name">{{ artist.name }}</div>
                    <div>{{ artist.nationality }}</div>
                    <div>{{ artist.birth_date }}</div>
                    <div>{{ artist.constellation }}</div>
                    <div>{{ artist.blood_type }}</div>
                </div>
                {% if user.is_authenticated %}
                <form action="{% url 'artist:artist-like' artist.pk %}" method="post">
                    {% csrf_token %}
                    {% if request.user in artist.like_users.all %}
                    <button type="submit"> 좋아요 취소</button>
                    {% else %}
                    <button type="submit"> 좋아요</button>
                    {% endif %}
                </form>
                {% else %}
                {% endif %}
            </a>

        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
