{% extends 'base.html' %}

{% block content %}
<div class="artist-list-container">

    <ul class="artist-list clearfix">
        <li class="clearfix">
            <a href="">
                <img src="{% if artist.img_profile %}{{ artist.img_profile.url }}{% endif %}" alt="" class="cover">
                <div class="artist-info">
                    <div class="name">{{ artist.name }}</div>
                    <div>{{ artist.nationality }}</div>
                    <div>{{ artist.birth_date }}</div>
                    <div>{{ artist.constellation }}</div>
                    <div>{{ artist.blood_type }}</div>
                </div>
                {% if user.is_authenticated %}
                <form action="{% url 'artist:artist-like' artist.pk %}" method="post">
                    {% csrf_token %}
                    <!--get_full_path 는 자기자신의 주소로 줌-->
                    <input type="hidden" name="next-path" value="{{ request.get_full_path }}">
                    {% if request.user in artist.like_users.all %}
                    <button type="submit"> 좋아요 취소</button>
                    {% else %}
                    <button type="submit"> 좋아요</button>
                    {% endif %}
                </form>
                {% else %}
                {% endif %}
            </a>
        </li>
    </ul>
    <h3>저장된 YouTube영상</h3>
    <ul class="youtube-search-list">
        {% for video in artist.youtube_videos.all %}
        <li>
            <a href="http://youtu.be/{{ video.youtube_id }}" target="_blank">
                <img src="{{ video.url_thumbnail }}" alt="">
            </a>
        </li>
        {% endfor %}
    </ul>

    <h3>관련 YouTube영상</h3>
    <ul class="youtube-search-list">
        {% for item in youtube_items %}
        <li>
            <a href="https://youtu.be/{{ item.id.videoId }}" target="_blank">
                <img src="{{ item.snippet.thumbnails.medium.url }}" alt="">
            </a>
            <div>{{ item.snippet.title }}</div>
            {% if user.is_authenticated %}
            <form action="{% url 'artist:artist-add-youtube' artist_pk=artist.pk %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="youtube_id" value="{{ item.id.videoId }}">
                <input type="hidden" name="title" value="{{ item.snippet.title }}">
                <input type="hidden" name="next-path" value="{{ request.get_full_path }}">
                <input type="hidden" name="url_thumbnail" value="{{ item.snippet.thumbnails.medium.url }}">
                <button type="submit">DB저장</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
