{% extends 'base.html' %}
{% block content %}

<div class="songs-list-container">
    <ul class="clearfix">
        <li class="clearfix">
            <a href="">
                <input type="hidden" value="{{ song.song_id }}">

                <div class="song-info">
                    <div class="name"> {{ song.title }}</div>
                    <div>{{song.artists}}</div>
                    <div>{{ song.genre }}</div>
                    <div>{{ song.album }}</div>
                    <div>{{ song.lyrics }}</div>
                </div>
            </a>
        </li>

    </ul>
</div>
{% endblock %}