{% extends 'base.html' %}

{% block content %}
<h1><a href=" {% url 'song:song-search' %} ">노래검색</a></h1>
<form action="" method="get">
    <div class="form-group">
        <label for="input_search"></label>
        <input
                type="text"
                name="keyword"
                id="input_search"
        >
    </div>
    <input type="submit" value="검색">

    {% include "include/song_search_result.html" with type='아티스트' songs=song_from_artists only%}
    {% include "include/song_search_result.html" with type='앨범' songs=song_from_albums only %}
    {% include "include/song_search_result.html" with type='노래제목' songs=song_from_title only %}


</form>
{% endblock %}
