.songs-list-container {
  margin-top: 10px;
  a {
    display: inline-block;
    color: #333;
  }

  div.name {
    display: inline-block;
  }

  form {
    margin-left: 10px;
    display: inline-block;
  }
}
